.HomeContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.Properties {
    width: 45vw;
    height: 45vw; 
}

.Map {
    width: 45vw; 
    height: 45vw; 
}

